body {
    background-image: url("/assets/images/Synthwave-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* .body {
    background-image: url("../assets/images/website-background.jpg");
    background-size: cover;
    background-position: center;
} */

.lead {
    position: relative;
    color: white;
    text-justify: center;
    text-align: center;
}
.card {
    background-color: transparent;
}
.container {
    flex: 1;
    position: relative;
    text-align: center;
    color: white;
}

footer {
    margin-top: auto;
    color: blueviolet;
}
